<%- include partials/header %>
 <%- include partials/main_nav.ejs %>
 section class="Projects">
 <br />
 <h1>MY PROJECTS</h1>
 <article>
   <h2>HANGMAN GAME</h2>
   <p>
     Using Python,I created a simple hangman game which asks the user to
     guess the characters in a word, <br />if they user is able to guess
     within maximum attempts they win the game ,<br />if not, they lose.
   </p>
 </article>
 <article>
   <h3>SECURITY SYSTEM</h3>
   <p>
     Using raspberry pi, I designed a simple security system that gives user
     access if correct pin is inputed and a "valid key" message is displayed
     on the LCD, <br />
     After three tries and user fails, the buzzer beeps twice and an "Invalid
     Key-Try Again" message is displayed on the LCD
   </p>
 </article>
</section>
<%- include partials/bottom_nav.ejs %>
  <%- include partials/footer.ejs %>
